main {
    padding: 10px 50px;

    max-width: 1100px;
    margin: 0 auto;
    text-align: justify;
}

.example {
    float: right;
    width: 275px;

    margin-right: -75px;
    padding: 0px 5px 5px 25px;
}