main {
    padding: 10px 50px;

    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
}

h1, h2, h3 {
    clear: both;
}

figure {
    display: block;
    float: right;
    margin-right: -2rem;
}

figcaption {
    text-align: center;
    display: block;
    font-size: .75rem;
}

.example img {
    width: 275px;
}


.screenshot img {
    width: 250px;
}

@media screen and (min-width: 1200px) {
    figure {
        margin-right: -60px;
    }
}

@media screen and (min-width: 640px) and (max-width: 1200px) {
    figure {
        margin-right: -40px;
    }
}

@media screen and (max-width: 640px) {
    figure {
        float: none;
        width: auto;
        padding: 2.5rem 0 1rem;
    }

    figure img {
        display: block;
        width: auto;
    }
}

