figure {
  display: block;
  float: right;
  margin-right: -2rem;
}

figcaption {
  text-align: center;
  display: block;
  font-size: .75rem;
}

h1 {
  font-size: 28px;
}

nav {
  font-size: 13px;

  ul {
    list-style-type: none;
  }

  &.mobile-nav, &.main-nav {
    li {
      display: inline-block;
      margin-right: 1rem;

      &.current {
        a {
          color: white;
          font-weight: 600;
        }
      }
    }
  }
}

.example img {
  width: 275px;
}

.flexbox {
  display: flex;
}

div.header-image {
  height: 16vh;
  background-image: url(/assets/images/header.png);
  background-position-x: center;
  background-repeat: no-repeat;
}

header {
  background-color: black;
}

.main-nav, .mobile-nav, .header-image {
  a {
    color: #ccc;
  }
}

.screenshot img {
  width: 250px;
}

@media screen and (min-width: 1200px) {
  figure {
    margin-right: -60px;
  }
}

@media screen and (min-width: 640px) and (max-width: 1200px) {
  figure {
    margin-right: -40px;
  }
}

@media screen and (max-width: 640px) {
  figure {
    float: none;
    width: auto;
    padding: 2.5rem 0 1rem;
  }

  figure img {
    display: block;
    width: auto;
  }
}

