:root {
  color-scheme: light dark;

  --light-bg: hsl(0, 0%, 98%);
  --light-fg: hsl(210, 13%, 16%);
  --dark-bg: var(--light-fg);
  --dark-fg: hsl(0, 0%, 85%);
}

html {
  scrollbar-gutter: stable;
}

body {
  color: light-dark(var(--light-fg), var(--dark-fg));
  background-color: light-dark(var(--light-bg), var(--dark-bg));

  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  border-radius: 0.8rem;
  overflow: hidden;
  background-color: black;
}

footer {
  grid-row-start: 3;
  border-top: 1px solid;
  border-color: light-dark(var(--light-fg), var(--dark-fg));
}

header, footer {
  grid-column-start: 1;
  grid-column-end: 3;
}

figure {
  display: block;
  float: right;
  margin-right: -1rem;
}

figcaption {
  text-align: center;
  display: block;
  font-size: .75rem;
}

h1 {
  font-size: 27px;
  margin-bottom: .75rem;
}

.main-nav {
  display: block;
}

.mobile-nav {
  display: none;
}

.side-menu {
  grid-row-start: 2;
  grid-column-start: 2;

  ul {
    padding-left: 0.66em;
    text-indent: -0.66em;
    line-height: 1.4;

    li {
      padding-bottom: 0.25rem;
    }
  }
}

.container-lg {
  max-width: 1056px;
}

.content {
  grid-row-start: 2;
  width: min(72vw, 780px);
}

nav {
  ul {
    list-style-type: none;
  }

  &.mobile-nav, &.main-nav {
    font-size: 1rem;

    ul.social {
      float: right;

      li {
        margin-right: 0;
        margin-left: 0.1rem;
      }

      .logo.github {
        filter: invert(1);
      }
    }

    li {
      display: inline-block;
      margin-right: 0.4rem;

      &.current {
        a {
          color: white;
        }
      }
    }
  }

  &.main-nav {
    li {
      margin: 0 0.5rem;
    }
  }

  &.prev-next {
    justify-content: space-between;
    gap: 5px;

    a {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:not([href=""]) {
        &.prev::before {
          content: "←";
          font-weight: 700;
          margin-right: 0.2rem;
        }

        &.next::before {
          content: "→";
          font-weight: 700;
          margin-left: 0.2rem;
          display: block;
          float: right;
        }
      }
    }
  }
}

ul ul {
  padding-left: 1em;
}

.markdown-body {
  padding: 0 1rem 0 1rem;
}

.markdown-body, .markdown-body .highlight {
  pre {
    overflow-x: scroll;

    border-radius: 0px;
    background-color: light-dark(#e7e7e7, black);
  }

  blockquote {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.flexbox {
  display: flex;
}

img, .markdown-body img {
  background-color: transparent;
}

.example img {
  width: 275px;
}

img.logo {
  height: 22px;
  padding: 1px;
}

div.header-image {
  height: min(10vh, 10vw);
  min-height: 80px;
  max-height: 160px;
  background-image: url(/assets/images/header.png);
  background-position-x: center;
  background-repeat: no-repeat;
}

.main-nav, .mobile-nav, .header-image {
  a {
    color: #ddd;
  }
}

span.topic ~ span.topic::before {
  content: ', ';
}

.screenshot img {
  width: 250px;
}

.highlight {
  .k, .kd, .se {
    color: #e67e00;
  }

  .kc,
  .kn,
  .kp,
  .kr,
  .kv,
  .ow,
  .o {
    color: light-dark(#000000, white);
  }

  .sb,
  .sc,
  .sd,
  .s2,
  .sh,
  .si,
  .sx,
  .sr,
  .s1,
  .ss {
    color: #008c00;
  }

  .na {
    color: #8968cc;
  }

  .nb {
    color: #d9a600;
  }
}

@media (prefers-color-scheme: dark) {
  a {
    color: hsl(214, 50%, 55%);
    font-weight: 500;
  }

  footer .logo.github {
    filter: invert(1);
  }
}

@media screen and (max-width: 768px) {
  body {
    grid-template-rows: auto auto 1fr auto
  }

  .main-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .prev-next {
    flex-wrap: wrap;
  }

  figure {
    float: none;
    width: auto;
    padding: 2.5rem 0 1rem;
  }

  figure img {
    display: block;
    width: auto;
  }

  .content {
    grid-row-start: 3;
    width: calc(100vw - 48px);
  }

  footer {
    grid-row-start: 4
  }

  .side-menu {
    grid-column-start: 1;
  }

  .markdown-body {
    pre {
      max-width: 90vw;
    }
  }
}

